.mainCont{
    /* height: 10vh; */
    display: flex;
    background: #040C18;
    justify-content: space-between;
}

.logo{
    cursor: pointer;
    padding: 1rem 2rem;
}

.menu{
    display: flex;
    align-items: center;
    width: 50vw;
    justify-content: space-around;
}
.menu>a{
    text-decoration: none; 
    font-family: 'Manrope', sans-serif;  
    font-size: 1rem;
    color: #F9F8F8;
}
.menu>button{
    font-family: 'Manrope', sans-serif;  
    font-size: 1rem;
    padding: 8px 40px;
    font-weight: 500;
    border-radius: 35px;
    border: none;
    color: #280003;    ;
    cursor: pointer;
}