.header {
    display: flex;
    /* background: rgba(92, 111, 251, 1); */
    background: #031B34;
    justify-content: space-between;
    color: #FFFFFF;
    z-index: 1;
}

.logo {
    cursor: pointer;
    padding: 1rem 1rem;
    display: flex;
    align-items: center;
    color: #F9F8F8;
    font-size: 1.5rem;
}

.logo>a {
    text-decoration: none;
    font-family: 'Manrope', sans-serif;
    font-size: 1.5rem;
    color: #F9F8F8;
}

.menu {
    display: flex;
    align-items: center;
    margin-right: 1rem;
}

.menu>a {
    font-size: 1.5rem;
    text-decoration: none;
    font-family: 'Manrope', sans-serif;
    color: #F9F8F8;
}

.menu>button {
    font-family: 'Manrope', sans-serif;
    font-size: 1rem;
    padding: 8px 40px;
    font-weight: 500;
    border-radius: 35px;
    border: none;
    color: #280003;
    cursor: pointer;
}

.logout {
    display: flex;
    flex-direction: column;
    margin-top: 10rem;
}

.sidebarBtn{
    transition: transform 0.7s ease-in-out;

}

.sidebarBtn:hover {
    transform: rotate(360deg);
}


.school{
    display: flex;
    gap: 1rem;
    margin-left: 2rem;
}

.content {
    background: #040C18;
    /* margin-left: 4rem; */
    color: #fff;
    display: flex;
    padding: 1rem;
    flex-direction: column;
    /* height:100vh; */
}


.nameCont {
    display: flex;
    align-items: center;
    margin: auto;
    flex-direction: column;
}

.banner{
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin: 2rem auto;
    border-radius: 4px;
    background: rgba(92, 111, 251, 0.10);
    align-items: center;
    width: 90%;
}

.search{
    /* width: 20%; */
    border-radius: 8px;
    margin-left: 4.4rem; 
}
.search form {
    /* width: 85%; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .search input[type="text"] {
    height: 42px;
    width: 18%;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    /* line-height: 30px; */
    border-radius: 24px 0 0 24px;
    border: 1px solid #f3f2f2;
    border: none;
    padding-left: 15px;
    background: rgba(255, 255, 255, 0.10);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.search button {
    color: #fff;
    height: 44px;
    /* height: 92%; */
    /* display: flex; */
    justify-content: center;
    /* align-items: center; */
    width: 4%;
    
    border: none;
    border-radius: 0 22px 22px 0;
    background: rgba(255, 255, 255, 0.10);
    /* background-color: #422335; */
    cursor: pointer;
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
    /* margin-top: 0.65%; */
  }
    

.table{
    width: 90%;
    margin: 2rem auto;
    background-color: #0D162F;
    color: #0D162F;

}

.scoreCard {
    /* width: 15%; */
    margin-right: 2rem;
    /* justify-content: space-around; */
    /* text-align: center; */
    /* display: flex; */
}

.school>p{
    font-size: 2rem;
}

.rank{
    font-size: 1.6rem;
    font-weight: 600;
    background: linear-gradient(90deg, #AE67FA 1.84%, #F49867 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}


.profileCard {
    background: #5C6FFB1A;
    align-items: center;
    margin-bottom: 2rem;
    text-align: center;
    width: 25%;
    border-radius: 10px;
    text-align: center;
    padding: 1rem 2rem;
}

.profileCard p {
    font-size: 1.5rem;
}


.navmenu {
    display: none;
}

.sidebarBtn{
    margin-left: 1rem;
    background-color: transparent;
    padding: 1px !important;
}

@media screen and (max-width: 1050px) {
    .menu {
        display: none;
    }

    .sidebar {
        display: none;
    }

    .content {
        margin-left: 0;
    }

    .banner{
        display: flex;
        width: 100%;
        margin: auto;
        background: transparent;
    }

    .school{
        display: flex;
    }

    .school>p{
        font-size: 1.2rem;
    }

    .totalStd{
        font-size: 0.8rem;
        margin-top: 0;
    }
    
    .rank{
        font-size: 1.6rem;
        margin: 0 auto;
        color: #fff;
        background: #fff;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text ;
    }
    
    .search{
        margin: auto 1rem;
    }

    .search input[type="text"]{
        width: 90%;
    }
    .search button{
        width: 10%;
    }

    .navmenu {
        display: flex;
        background: #040C18;
        justify-content: space-between;
        padding: 0.5rem 1rem;
        align-items: center;
    }
    
    .navmenu>a{
        text-decoration: none;
        color: #fff;
        font-size: 1.5rem;
    }

    .sidebarBtn {
        padding: 0;
        border: none;
        background: none;
    }

    .table{
        flex-wrap: wrap;
        overflow-x: scroll;
    }

}