.header {
    display: flex;
    /* background: rgba(92, 111, 251, 1); */
    background: #031B34;
    justify-content: space-between;
    color: #FFFFFF;
    z-index: 1;
}

.logo {
    cursor: pointer;
    padding: 1rem 1rem;
    display: flex;
    align-items: center;
    color: #F9F8F8;
    font-size: 1.5rem;
}

.logo>a {
    text-decoration: none;
    font-family: 'Manrope', sans-serif;
    font-size: 1.5rem;
    color: #F9F8F8;
}

.menu {
    display: flex;
    align-items: center;
    margin-right: 1rem;
}

.menu>a {
    font-size: 1.5rem;
    text-decoration: none;
    font-family: 'Manrope', sans-serif;
    color: #F9F8F8;
}

.menu>button {
    font-family: 'Manrope', sans-serif;
    font-size: 1rem;
    padding: 8px 40px;
    font-weight: 500;
    border-radius: 35px;
    border: none;
    color: #280003;
    cursor: pointer;
}

.logout {
    display: flex;
    flex-direction: column;
    margin-top: 10rem;
}

.school{
    display: flex;
    gap: 1rem;
    margin-left: 2rem;
}

.content {
    background: #040C18;
    /* margin-left: 4rem; */
    color: #fff;
    display: flex;
    padding: 1rem;
    flex-direction: column;
    /* height:100vh; */
}

.profile {
    display: flex;
    width: calc(100% - 4rem);
    justify-content: space-between;
    position: relative;
    align-items: center;
}

.profile::after {
    position: absolute;
    content: "";
    background: #A9AAAB;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    bottom: 00%;
    width: calc(100%);
    height: 2px;
    margin-left: 1.8rem;
    text-decoration: underline;
}

.profile>p {
    padding-left: 2rem;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
}

.profile>img {
    height: 60px;
    width: 60px;
}

.nameCont {
    display: flex;
    align-items: center;
    margin: auto;
    flex-direction: column;
}

.banner{
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin: 2rem auto;
    border-radius: 4px;
background: rgba(92, 111, 251, 0.10);
    align-items: center;
    width: 90%;
}

.search{
    /* width: 20%; */
    border-radius: 8px;
    margin-left: 4.4rem; 
}
.search form {
    /* width: 85%; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .search input[type="text"] {
    height: 42px;
    width: 18%;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    /* line-height: 30px; */
    border-radius: 24px 0 0 24px;
    border: 1px solid #f3f2f2;
    border: none;
    padding-left: 15px;
    background: rgba(255, 255, 255, 0.10);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.search button {
    color: #fff;
    height: 44px;
    /* height: 92%; */
    /* display: flex; */
    justify-content: center;
    /* align-items: center; */
    width: 4%;
    
    border: none;
    border-radius: 0 22px 22px 0;
    background: rgba(255, 255, 255, 0.10);
    /* background-color: #422335; */
    cursor: pointer;
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
    /* margin-top: 0.65%; */
  }
    

.table{
    width: 90%;
    margin: 2rem auto;
    background-color: #0D162F;
    color: #0D162F;
}

.name {
    margin-top: 2rem;
    font-size: 2rem;
    width: calc(100vw - 7.5rem);
    padding: 1rem 0rem 5rem 0;
    text-align: center;
    background: #5C6FFB1A;
    font-weight: 600;
}

.profileImg {
    margin-top: -6%;
    width: 200px;
    height: 100%;
    margin-bottom: 1rem;
}

hr.border {
    display: flex;
    height: 4rem;
    border: 1px solid #fff;
    margin-left: 25%;
}

.scoreCard {
    /* width: 15%; */
    margin-right: 2rem;
    /* justify-content: space-around; */
    /* text-align: center; */
    /* display: flex; */
}

.school>p{
    font-size: 2rem;
}

.rank,
.diamonds {
    font-size: 1.6rem;
    font-weight: 600;
    background: linear-gradient(90deg, #AE67FA 1.84%, #F49867 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.border {
    margin: auto 2rem;
}

.profileCard {
    background: #5C6FFB1A;
    align-items: center;
    margin-bottom: 2rem;
    text-align: center;
    width: 25%;
    border-radius: 10px;
    text-align: center;
    padding: 1rem 2rem;
}

.profileCard p {
    font-size: 1.5rem;
}

.editBtn {
    display: flex;
    align-items: center;
    background: inherit;
    border: 1.5px solid #F9F8F8;
    color: #F9F8F8;
    font-size: 1rem;
    border-radius: 6px;
    padding: 10px 20px;
    margin-bottom: 3rem;
    justify-content: center;
    cursor: pointer;
}

.navmenu {
    display: none;
}

.sidebarBtn{
    margin-left: 1rem;
    background-color: transparent;
    padding: 1px !important;
}

@media screen and (max-width: 1050px) {
    .menu {
        display: none;
    }

    .sidebar {
        display: none;
    }

    .content {
        margin-left: 0;
    }

    .name {
        width: calc(100vw - 5rem);
        font-size: 1.5rem;
    }

    .profile>p {
        font-size: 1.2rem;
        font-weight: 700;
    }

    .profile>img {
        height: 40px;
        width: 40px;
    }

    .profileImg {
        margin-top: -20%;
        height: auto;
        width: 40%;
    }

    hr.border {
        margin-left: 90%;
    }

    .profileCard {
        width: 70%;
    }

    .profileCard p {
        font-size: 1.2rem;
    }

    .editBtn {
        width: 80%;
    }

    .navmenu {
        display: contents;
    }

    .itemCont {
        flex-direction: row;
        justify-content: space-around;
        margin: 0;
        background: rgba(92, 111, 251, 0.1);
        border-top: 2px solid #25283D;
        box-shadow: 0px -8px 20px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
    }

    .sidebarBtn {
        padding: 0;
        background: none;
    }

}