.mainCont{
    /* height: 10vh; */
    display: flex;
    background: #040C18;
    justify-content: space-between;
}

.logo{
    cursor: pointer;
    padding: 1rem 2rem;
}

.logoMobileView{
    display: none;
}

.menu{
    display: flex;
    align-items: center;
    width: 50vw;
    justify-content: space-around;
}
.menu>a{
    text-decoration: none; 
    font-family: 'Manrope', sans-serif;  
    font-size: 1rem;
    color: #F9F8F8;
}
.menu>button{
    font-family: 'Manrope', sans-serif;  
    font-size: 1rem;
    padding: 8px 40px;
    font-weight: 500;
    border-radius: 35px;
    border: none;
    color: #280003;    ;
    cursor: pointer;
}
.menuMobileView{
    display: none;
}
.hideLoginBtn{
    display: none;
}

@media screen and (max-width: 1050px) {
    .menu{
        display: none;
    }
    .Icon{
        display: none;
    }
    .logoMobileView{
        display: flex;
    }
    .menuMobileView{
        align-items: center;
        width: 30vw;
        justify-content: space-around;
        display: flex;
        
    }
    .menuMobileView>button{
        font-family: 'Manrope', sans-serif;  
        font-size: 12px;
        padding: 3px 16px;
        font-weight: 500;
        border-radius: 18px;
        border: none;
        color: #280003;   
        cursor: pointer;
    }
}